<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Mi Currículum Web</title>
</head>
<body>
    <header>
        <h1>Edwin Alexander Poma Chicoma</h1>
        <p>Hola, soy Edwin Alexander Poma Chicoma, estudiante de Ingeniería de Sistemas en la Universidad Privada del Norte (UPN). Me apasiona la tecnología y el desarrollo de software, y tengo experiencia en lenguajes como JavaScript, HTML y CSS. Estoy enfocado en aprender y aplicar mis habilidades en proyectos innovadores que aporten soluciones efectivas. Soy proactivo y siempre busco nuevos desafíos en el ámbito de la ingeniería de sistemas..</p>
    </header>
    <section id="habilidades">
        <h2>Habilidades</h2>
        <ul>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>PostgreSQL</li>
            <!-- Agrega más habilidades aquí -->
        </ul>
    </section>
    <section id="proyectos">
        <h2>Proyectos Realizados</h2>
        <ul>
            <li><a href="https://enlace-a-tu-proyecto.com">Nombre del Proyecto 1</a></li>
            <li><a href="https://enlace-a-tu-proyecto.com">Nombre del Proyecto 2</a></li>
            <!-- Agrega más proyectos aquí -->
        </ul>
    </section>
    <section id="experiencia">
        <h2>Experiencia Laboral o Académica</h2>
        <p>He sido practicante en la empresa Evol, donde brindé apoyo en proyectos, lo que me permitió aplicar mis conocimientos y adquirir experiencia práctica. Soy proactivo y siempre busco nuevos desafíos en el ámbito de la ingeniería de sistemas.</p>
    </section>
</body>
</html>
